.btn{
    width:90px;
    margin-left: 7px;
}
.container{
    border: 5px lightseagreen solid;
    margin-top: 7px;
    margin-bottom: 7px;
}
.alert{
    margin-top: 15px;
    margin-bottom: 0px;
}

agm-map {
  height: 300px;
  width: 100%;
}

#gmDiv{
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}

* {
  font-family: Lato;
}

a {
  color: darkblue;
}